body{
	background-image:url("../img/background.png");
	font:8pt Verdana,Tahoma,sans-serif;
	margin:0;	
}
div.topbanner{
	background-image:url("../img/bannerbg.png");
	background-repeat:repeat-x;
	text-align:center;
}
#banner{
	height:50px;
}
h1.movie{
	font:24pt Tahoma,Verdana,sans-serif;
	text-align:center;
	text-shadow:3px 3px #999999
}
div.mainpage{	
	position:relative;
	max-width:800px;
	margin:auto;
	border:4px solid gray;
	border-radius:20px;
	overflow:auto;
}
div.checkers{
	position:fixed;
	bottom:0;
	right:0;
}
div.right{
	float:right;
	right:0;
	width: 250px;
	background-color: #A2B964;
	font:normal 8pt Arial, serif;
	border-radius: 0 20px 0 0;
	
}
dl{
	
	font:bold 10pt Arial, serif;
	margin-left:10px;
}
dd {
	font:bold 10pt Arial, serif;
	margin-bottom:10px;
}
div.bottom{
	position:absolute;	
	bottom:0;
	width:550px;
	background-color:#A2B964;
	text-align:center;
	font:bold 8pt Arial, serif;
}
div.rotten{
	background-image:url("../img/rbg.png");
	background-repeat:repeat;
	border-radius: 20px;
	font:normal bold 48pt Georgia, serif;
	color:red;	
}
img.rotten{
	vertical-align: middle;
	height: 83px;
	border-radius: 20px;	
}
img.ovimage{
	border-radius: 0 20px 0 0;
}
 div.leftside{
	
	position: relative;
	width: 550px;
} 
div.col1{
	position:absolute;
	left:0;
	width: 47%;
	margin-left:5px;
	margin-right:5px;
}
div.col2{
	position:absolute;
	right:0;
	width: 47%;
	margin-right:5px;
	margin-left:5px;
}
p.Review{	
	border:2px solid gray;
	border-radius:10px;
	background-color:#E8DC9B;
	font:normal bold 8pt Georgia, serif;
	padding: 5px;	
	margin: 5px;
	overflow:auto;
}
p.Review2{
	padding: 5px;	
	margin: 5px;
	overflow:auto;
}
img.image1{
	float: left;
	margin:5px 5px 0 0;
}
img.image2{
	float: left;
	margin:5px 5px 0 0;
}